
<html>
<body>
<table align="center" border="2">
    <tr><th colspan="3">
        Sathya Employees Information
    </th></tr>
    <tr>
        <th><a href="{% url 'main' %}">
            Home
        </a> </th>
        <th><a href="{% url 'add_employee' %}">Add Employee</a></th>
        <th><a href="{% url 'view_all' %}">View Employee</a></th>
    </tr>
    <tr>
        {% block naveen %}
        {% endblock %}
    </tr>
    <tr><th colspan="3">copyright@naveen with python</th></tr>
</table>
</body>
</html>